<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.zweng.xposed.lepro3infrared">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Open Infrared blaster for all apps on the LeEco LePro 3 phone (running EUI 5.8). Might or might not work on other ROMs or phones. Search in logcat for 'Xposed_IR_QuickSet' messages." />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

    </application>

</manifest>
