<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.zweng.xposed.lepro3infrared">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Make Infrared blaster usable for all IR apps on several LeEco phones (running EUI). Might or might not work on other ROMs or phones. In case of troubles search in logcat for 'LeEco_Infrared_Fix' messages. \nMade by androcheck@XDA\nXDA-Thread: https://goo.gl/kZYp9q" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

    </application>

</manifest>
